<div class="grid-container">
    <h1 class="mat-h1"> {{titleMonth}} {{titleYear}}</h1>
    <mat-grid-list cols="2" rowHeight="350px">
      <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
        <mat-card class="dashboard-card">
          <mat-card-header>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
              <div *ngIf="card.id === '1'">
                  <collegien-mat-table [annee]="titleYear" [mois]="titleMonth"></collegien-mat-table>
                </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>