<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">

        <mat-toolbar class="header">
            LOGO
        </mat-toolbar>

        <mat-nav-list class="menu">


            <div *ngIf="listNomPrenomComponent === true">
                <collegien-list-nom-prenom></collegien-list-nom-prenom>
            </div>



        </mat-nav-list>

    </mat-sidenav>


    <mat-sidenav-content>
        <mat-toolbar class="header">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>



            <button id="supervisor" type="button" mat-icon-button>
                <mat-icon>supervisor_account</mat-icon>
            </button>

            <div class="displayAferRight" [routerLink]="['/profile']">
                {{ auth.getUserDetails()?.nomEleve | uppercase }} {{ auth.getUserDetails()?.prenomEleve | titlecase }}
            </div>

            <div class="displayRight">
                <div *ngIf="!auth.isLoggedIn()" routerLink="/">
                    <button type="button" mat-icon-button>
                        <mat-icon>lock</mat-icon>
                    </button>
                </div>
                <div *ngIf="auth.isLoggedIn()" (click)="auth.logout()">
                    <button type="button" mat-icon-button>
                        <mat-icon>lock_open</mat-icon>
                    </button>
                </div>
            </div>
        </mat-toolbar>

    </mat-sidenav-content>
</mat-sidenav-container>