<div>
  Import CSV
  <button mat-icon-button (click)="file.click()">
    <mat-icon class="mat-18">rss_feed</mat-icon>
    <input type="file" name="file" #file [hidden]="true" (change)="getFiles($event)" />
  </button>

</div>

<br>

<div>
  Reset total
  <button mat-icon-button (click)="openDialogResetAllUser()">
    <mat-icon class="mat-19">humb_down</mat-icon>
  </button>
</div>

<br>

<div>
  Mail groupé
  <button mat-icon-button (click)="sendManyMails()">
    <mat-icon class="mat-20">alternate_email</mat-icon>
  </button>
</div>