<h1 class="titreListe">Creer des élèves</h1>
<br>

<div class="formTotal">
  <mat-card>
    <form [formGroup]="creationForm" #formDirective="ngForm" (submit)="createEnfant(formDirective)">


      <h3>Identification Eleve : </h3>

      <!--     Nom de l'élève-->
      <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Nom de l'élève" required formControlName="nomEleve">
        </mat-form-field>
        <br>

        <!--     Prenom de l'élève-->
        <mat-form-field>
          <input matInput placeholder="Prenom de l'élève" required formControlName="prenomEleve">
        </mat-form-field>
        <br>

        <mat-form-field>
          <input type="email" matInput placeholder="Mail de l'élève" required formControlName="mailEleve">
        </mat-form-field>
        <br>

        <!--     Classe de l'élève-->
        <span>Classe* : </span>
        <input type="text" matInput placeholder="Classe de l'eleve" class="search-input classeDetail height"
          formControlName="classeEleve" name="place" required [matAutocomplete]="autoGroup">
        <mat-autocomplete #autoGroup="matAutocomplete">
          <mat-optgroup *ngFor="let group of searchOptions | async" [label]="group.classe">
            <mat-option *ngFor="let dataClasseDetail of group.classeDetail" [value]="dataClasseDetail">
              {{dataClasseDetail}}
            </mat-option>
          </mat-optgroup>
        </mat-autocomplete>


        <!--     Regime de l'élève-->
        <mat-radio-group aria-label="Select an option" required formControlName="regimeEleve">
          <span class="regime">Règime * :</span>
          <mat-radio-button class="regimeDetail" value="Interne">Interne</mat-radio-button>
          <mat-radio-button class="regimeDetail" value="Externe">Externe</mat-radio-button>
        </mat-radio-group>

        <h3>Identification Parent : </h3>

        <!--     Nom du parent-->
        <mat-form-field>
          <input matInput placeholder="Nom du parent" required formControlName="nomParent">
        </mat-form-field>
        <br>

        <!--     Prenom du parent-->
        <mat-form-field>
          <input matInput placeholder="Prenom du parent" required formControlName="prenomParent">
        </mat-form-field>
        <br>

        <!--         Qualite du parent -->
        <mat-radio-group aria-label="Select an option" required formControlName="qualiteParent">
          <span class="qualite">Qualité du tuteur * :</span>
          <mat-radio-button value="Père">Père</mat-radio-button>
          <mat-radio-button value="Mère">Mère</mat-radio-button>
          <mat-radio-button value="Frère">Frère</mat-radio-button>
          <mat-radio-button value="Soeur">Soeur</mat-radio-button>
          <mat-radio-button value="Grand - Mère">Grand - Mère</mat-radio-button>
          <mat-radio-button value="Grand - Père">Grand - Père</mat-radio-button>
        </mat-radio-group>

        <div class="champ">* Champs Obligatoire</div>

        <button mat-raised-button type="submit" [disabled]="creationForm.invalid">Create</button>

        <button mat-raised-button [routerLink]="['/global']">Retour à la liste</button>
      </div>
    </form>
  </mat-card>
</div>