


<p class="title">Ajouter un nouvel Collegien</p>

<form id="form-new-eolien" [formGroup]="CollegeForm" (ngSubmit)="NewCollegienSave()">
    <div class="personnelData">
        <fieldset class="FieldSet">
            <legend class="legend">Infos Personnelles</legend>

            <!-- Nom -->
            <div class="div-element">
                <div class="element-label">Nom : </div>
                <input matInput class="mat-element mat-nom" id="nomEleve" formControlName="nomEleve">
            </div>

            <!-- Prenom -->
            <div class="div-element">
                <div class="element-label">Prenom : </div>
                <input matInput class="mat-element mat-prenom" id="prenomEleve" formControlName="prenomEleve">
            </div>

          
        </fieldset>
    </div>


    <div class="posteData">
        <fieldset class="FieldSet">
            <legend class="legend">Infos Poste</legend>

           
        </fieldset>
    </div>


    <div class="meteoleData">
        <fieldset class="FieldSet">
                <legend class="legend">Infos Meteoles</legend>

            
        </fieldset>
    </div>


    <button type="submit" class="btn-form" mat-raised-button color="primary">Sauvegarder</button>
    <button type="reset" class="btn-form" mat-raised-button color="warn">Remise à zéro</button>
</form>

