.title {
    font-size: 180%;
    font-weight: bold;
    text-align: center;
}

#form-new-eolien{
    font-size: 100%;
    margin: 3% 5% 20% 5%; /* hdbg */
}

.div-element {
    display: inline-block;
    width: 50%; /* you can change that for more columns */
}

.element-label {
    font-size: 90%;
    display: inline-block;
    background-color: white;
    width: 30%;
    text-align: right;
    margin: 8px;
}

.mat-element {
    font-size: 100%;
    background-color: rgb(216, 240, 240);
    width: 60%;
    border: none;
    margin: 0px;
    padding: 6px;
}

.btn-form {
    margin: 36px 0px 0px 24px; /* hdbg */
    float: right;
    width: 130px;
}

@media only screen and (max-width: 1024px) {
    #form-new-eolien{
        font-size: 100%;
    }
    .div-element {
        width: 100%;
    }
}

@media only screen and (max-width: 730px) {
    .title {
        font-size: 130%;
    }

    #form-new-eolien{
        font-size: 90%;
    }
}

@media only screen and (max-width: 360px) {
    .element-label {
        width: 99%;
        text-align: left;
    }

    .mat-element {
        width: 99%;
    }
}

/*  Icon du status
 */
 .mat-very-good {
    height: 35px;
    width: 35px;
    cursor: pointer;
    fill: #18a114;
    margin-bottom: -12px;
  
  }
  
  .mat-bad {
    height: 35px;
    width: 35px;
    cursor: pointer;
    fill: #fc0303;
    margin-bottom: -12px;
  }
  
  .mat-very-bad {
    height: 35px;
    width: 35px;
    cursor: pointer;
    fill: #060706;
    margin-bottom: -12px;
  }
  
  .mat-notEmpty {
    height: 35px;
    width: 35px;
    cursor: pointer;
    fill: #a7afa6;
    margin-bottom: -12px;
  }
  
  .mat-moyen{
    height: 35px;
    width: 35px;
    cursor: pointer;
    fill: #ffaa33;
    margin-bottom: -12px;
  }