.formTotal {
    margin-top: 1%;
    width: 90%;
    margin-left: 5%;
}

mat-card{
    background-color: #92cce5;
}

.titreListe {
    text-align: center;
}

.mat-form-field {
    font-size: 100%;
    width: 100%;
    height: 7%;
    color: white;
    margin-bottom: 1%;
}

.champ {
    font-size: 70%;
    margin-left: 85%;
    margin-bottom: 2%
}

.mat-raised-button {
    width: 100%;
    color: aquamarine;
    margin-bottom: 2%;
}

.date {
    margin-top: 3%
}

.mat-radio-button {
    margin-right: 2%;
    margin-bottom: 5%;
}

.regime {
    margin-top: 10%;
    margin-right: 3%
}

.qualite {
    margin-right: 3%
}

.classe {
    margin-right: 3%
}

.classeDetail {
    width: 100%
}

.regimeDetail {
    margin-top: 3%;
}

.mat-list {
    width: 100%;
    margin-left: 5%;
}

.mat-list-item {
    color: black;
    border-color: black;
}

.espace {
    margin-right: 5%
}

.echec {
    text-align: center;
    color: crimson;
    size: 20%;
}

legend{
    color:#11516c;
    font-size: 200%;
}

.misEnPage{
        border: 2px solid black;
}