
<div id="date" class="titredate"></div>

<span class="align">
    Filtre Nom : 
  <mat-form-field>
    <input  matInput id="doFilterNom"  type="text" (keyup)="doFilterNom($event.target.value)">
  </mat-form-field>
</span>

<span  class="align">
  Filtre Classe : 
  <mat-form-field>
    <input  matInput id="doFilterClasse"  type="text" (keyup)="doFilterClasse($event.target.value)">
  </mat-form-field>
</span>

<table mat-table [dataSource]="dataSource"  multiTemplateDataRows class="mat-elevation-z8">

  <ng-container matColumnDef="nomEleve">
    <th mat-header-cell class="entete" *matHeaderCellDef > Nom </th>
    <td mat-cell class="entete1"  *matCellDef="let element"> {{element.nomEleve}} </td>
  </ng-container>


  <ng-container matColumnDef="prenomEleve">
    <th mat-header-cell class="entete" *matHeaderCellDef > Prenom </th>
    <td mat-cell class="entete1" *matCellDef="let element"> {{element.prenomEleve}} </td>
  </ng-container>

  <ng-container matColumnDef="classeEleve">
    <th mat-header-cell class="entete" *matHeaderCellDef > Classe </th>
    <td mat-cell class="entete1" *matCellDef="let element"> {{element.classeEleve}} </td>
  </ng-container>


  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
      <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

        <form [formGroup]="editForm" #formDirective="ngForm" >

          <div class="EditionMode">{{isEditionMode}}</div>

          <br>

          <fieldset class="misEnPage1">
            <legend class="legend">Elève</legend>

            <!------------------------- NomEleve  --------------------------->
            <div> <span class="forme">Nom de l'eleve : </span>
              <br>
              <input  class="nomColor" id="nomEleve" formControlName="nomEleve" (click)="checkedNomEleve()"
                (ngModelChange)="onChangeNomEleve($event)" [value]="element.nomEleve">
            </div>
            <!-------------------------------------------------->

            <br>

            <!------------------------- PrenomEleve  --------------------------->
            <div><span class="forme"> Prenom de l'eleve :</span>
              <br>
              <input class="prenomColor" id="prenomEleve" formControlName="prenomEleve" (click)="checkedPrenomEleve()"
                (ngModelChange)="onChangePrenomEleve($event)" [value]="element.prenomEleve">
            </div>
            <!-------------------------------------------------->

            <br>
            <!------------------------- ClasseEleve  --------------------------->
            <div> <span class="forme">Classe :</span>
              <br>
              <input class="classeColor" id="classeEleve" formControlName="classeEleve" (click)="checkedClasseEleve()"
                (ngModelChange)="onChangeClasseEleve($event)" [value]="element.classeEleve ">
            </div>
            <!-------------------------------------------------->

            <br>

            <!------------------------- MailEleve  --------------------------->
            <div> <span class="forme"> Mail :</span>
              <br>
              <input class="mailColor" id="mailEleve" formControlName="mailEleve" (click)="checkedMailEleve()"
                [value]="element.mailEleve" (ngModelChange)="onChangeMailEleve($event)">
            </div>
            <!-------------------------------------------------->

            <br>

            <!------------------------- RegimeEleve  --------------------------->
            <div> <span class="forme">Regime :</span>
              <br>
              <input class="regimeColor" id="regimeEleve" formControlName="regimeEleve" (click)="checkedRegimeEleve()"
                (ngModelChange)="onChangeRegimeEleve($event)" [value]="element.regimeEleve ">
            </div>
            <!-------------------------------------------------->
          </fieldset>


          <fieldset class="misEnPage2">
            <legend class="legend">Parent</legend>

            <!------------------------- nomParent  --------------------------->
            <div> <span class="forme">Nom du parent : </span>
              <br>
              <input (ngModelChange)="onChangeNomParent($event)" id="nomParent" class="nomParentColor"
                formControlName="nomParent" (click)="checkedNomParent()" [value]="element.nomParent">
            </div>
            <!------------------------------------------------->

            <br>

            <!-------------------------PrenomParent-------------------------->
            <div> <span class="forme"> Prenom du parent :</span>
              <br>
              <input (ngModelChange)="onChangePrenomParent($event)" id="prenomParent" class="prenomParentColor"
                formControlName="prenomParent" (click)="checkedPrenomParent()" [value]="element.prenomParent">
            </div>
            <!------------------------------------------------->

            <br>

            <!------------------------- Qualite du parent  --------------------------->
            <div> <span class="forme">Qualite du parent :</span>
              <br>
              <input (ngModelChange)="onChangeQualiteParent($event)" id="qualiteParent" class="qualiteParentColor"
                formControlName="qualiteParent" (click)="checkedQualiteParent()" [value]="element.qualiteParent">
            </div>
            <!-------------------------------------------------->

            <br>

            <!------------------------- Heure d'arrivée  --------------------------->
            <div> <span class="forme">Heure d'arrivée :</span>
              <div class="heureArrColor">{{element.h_Arr |  date :'dd/MM/yyyy HH:mm:ss'}}</div>
            </div>
            <!---------------------------------------------------->

            <br>

            <!-------------------------Heure de depart-------------------------->
            <div> <span class="forme">Heure de départ:</span>
              <div class="heureDepColor">{{element.h_Dep |  date :'dd/MM/yyyy HH:mm:ss'}}</div>
            </div>
          </fieldset>



          <fieldset class="misEnPage3">
            <legend class="legend">Authentification</legend>

            <!------------------------- Username  --------------------------->
            <div> <span class="forme">Login : </span>
              <br>
              <input (ngModelChange)="onChangeUsername($event)" id="username" class="usernameColor"
                formControlName="username" (click)="checkedUsername()" [value]="element.username">
            </div>
            <!------------------------------------------------>

            <br>

            <!------------------------- Password-------------------------->
            <div> <span class="forme">Password :</span>
              <br>
              <input type="password" (ngModelChange)="onChangePassword($event)" id="password" class="passwordColor"
                formControlName="password" (click)="checkedPassword()" [value]="element.password">
            </div>
            <!-------------------------------------------------->

            <br>

            <!------------------------- passwordConfirme  --------------------------->

            <div> <span class="forme"> Confirmation : </span>
              <br>
              <input type="password" (ngModelChange)="onChangePasswordConfirme($event)" id="passwordConfirme"
                class="passwordConfirmeColor" formControlName="passwordConfirme" (click)="checkedPassword()"
                [value]="element.passwordConfirme">
            </div>
            <!---------------------------------------------------->

            <br>

            <!------------------------- Status du compte  --------------------------->

            <div> <span class="forme">Status du compte : </span>
              <br>
              <span class="statusColor" id="status" type="texte" value="active">{{element.enable}}</span>
              <button mat-icon-button (click)="updateStatus(element)">
                <mat-icon class="mat-21">autorenew</mat-icon>
              </button>
              <button class="btnOtherInterne" mat-icon-button (click)="other(element)">
              Outils
            </button>
            </div>
            <!--------------------------------------------------->

          </fieldset>
        </form>
      </div>
    </td>


  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
    [class.example-expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : element ; closeAll()">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

</table>

<br>

<button mat-raised-button [routerLink]="['/enfantCreate']">Creation</button>

<button class="btnOther" mat-raised-button (click)="otherAll()">
  Outils
</button>


<mat-paginator
 [pageSizeOptions]="[10, 20]" >
</mat-paginator>



