
table {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  background-color:white;
  opacity: 0.8;

}

mat-paginator {
  width: 100%;
  margin-left: -30%;
  font-weight: 600;
  color: black;
  background-color: transparent;
  font-size: 150%;
 visibility: hidden

}


.align {
    text-align: center;
  font-size: 150%;
  color: black;
  margin-left: 7%
}

.mat-raised-button {
  width: 20%;
  margin-left: 20%;
  color: white;
  line-height: 50px;
  
}

.btnOther{
  opacity: 0.5;
background-color:red;

}

.forme{
  color:black;
  font-size: 120%
}

.EditionMode{
  color: red;
  text-align: center;
  font-size: 200%;
}

.misEnPage1{
  float: left;
  width: 44%;
  border: 3px solid black;
}

.misEnPage2{
  border: 3px solid black;
  float: right;
  width: 46%;
}

.misEnPage3{
  width: 95%;
  border: 3px solid black;
}

.legend{
  font-size:200%;
  color:#11516c;
}



.btnOtherInterne{
  color: red;
float: right;
font-size: 200%;
margin-right: 5%;
}


.isEchec{
  color: red;
  font-size: 120%
}

.mat-20{
  color: red;
}

.mat-21{
  color: green;
}

.entete{
  font-size: 150%;
  color:black;
  margin-left: -50%;
  opacity: 1;
  font-weight: 600;
}

.entete1{
  font-size: 120%;
  color:black;
  margin-left: -50%;
  opacity: 1;
  font-weight: 100;
}
/*--------------------- Update du nomEleve----------------------------*/

.nomColor{
  background-color: #92cce5;
  border: #92cce5;
  font-size: 140%;
  color: black
}

/*  .borderNomClick{
  background-color: #92cce5;
  border: 2px solid green;
  font-size: 110%;
}

.borderNomChange{
  background-color: #92cce5;
  border: 2px solid red;
  font-size: 110%;
} */
/*--------------------- Update du PrenomEleve----------------------------*/

.prenomColor{
  background-color: #92cce5;
  border: #92cce5;
  font-size: 140%;
  color: black
}

/* .borderPrenomClick{
  background-color: #92cce5;
  border: 2px solid green;
  font-size: 110%;
}

.borderPrenomChange{
  background-color: #92cce5;
  border: 2px solid red;
  font-size: 110%;
} */

/*--------------------- Update du ClasseEleve----------------------------*/
.classeColor{
  background-color: #92cce5;
  border: #92cce5;
  font-size: 140%;
  color: black
}

/* .borderClasseClick{
  background-color: #92cce5;
  border: 2px solid green;
  font-size: 110%;
}

.borderClasseChange{
  background-color: #92cce5;
  border: 2px solid red;
  font-size: 110%;
} */

/*--------------------- Update du MailEleve----------------------------*/
.mailColor{
  background-color: #92cce5;
  border: #92cce5;
  font-size: 140%;
  color: black
}

/* .borderMailClick{
  background-color: #92cce5;
  border: 2px solid green;
  font-size: 110%;
}

.borderMailChange{
  background-color: #92cce5;
  border: 2px solid red;
  font-size: 110%;
} */

/*--------------------- Update du RegimeEleve----------------------------*/
.regimeColor{
  background-color: #92cce5;
  border: #92cce5;
  font-size: 140%;
  color: black
}

/* .borderRegimeClick{
  background-color: #92cce5;
  border: 2px solid green;
  font-size: 110%;
}

.borderRegimeChange{
  background-color: #92cce5;
  border: 2px solid red;
  font-size: 110%;
} */

/*--------------------- Update du NomParent----------------------------*/
.nomParentColor{
  background-color: #92cce5;
  border: #92cce5;
  font-size: 140%;
  color: black
}

/* .borderNomParentClick{
  background-color: #92cce5;
  border: 2px solid green;
  font-size: 110%;
}

.borderNomParentChange{
  background-color: #92cce5;
  border: 2px solid red;
  font-size: 110%;
} */

/*--------------------- Update du NomParent----------------------------*/
.prenomParentColor{
  background-color: #92cce5;
  border: #92cce5;
  font-size: 140%;
  color: black
}

/* .borderPrenomParentClick{
  background-color: #92cce5;
  border: 2px solid green;
  font-size: 110%;
}

.borderPrenomParentChange{
  background-color: #92cce5;
  border: 2px solid red;
  font-size: 110%;
} */

/*--------------------- Update du Qualite----------------------------*/
.qualiteParentColor{
  background-color: #92cce5;
  border: #92cce5;
  font-size: 140%;
  color: black
}

/* .borderQualiteParentClick{
  background-color: #92cce5;
  border: 2px solid green;
  font-size: 110%;
}

.borderQualiteParentChange{
  background-color: #92cce5;
  border: 2px solid red;
  font-size: 110%;
} */

/*--------------------- Update du heure d'arrive----------------------------*/
.heureArrColor{
  background-color: #92cce5;
  border: #92cce5;
  font-size: 140%;
  color: black;
  width: 62%;
}

/* .borderQualiteParentClick{
  background-color: #92cce5;
  border: 2px solid green;
  font-size: 110%;
}

.borderQualiteParentChange{
  background-color: #92cce5;
  border: 2px solid red;
  font-size: 110%;
} */

/*--------------------- Update du depart----------------------------*/
.heureDepColor{
  background-color: #92cce5;
  border: #92cce5;
  font-size: 140%;
  color: black;
  width: 62%;
}

/* .borderQualiteParentClick{
  background-color: #92cce5;
  border: 2px solid green;
  font-size: 110%;
}

.borderQualiteParentChange{
  background-color: #92cce5;
  border: 2px solid red;
  font-size: 110%;
} */
/*--------------------- Update du username----------------------------*/
.usernameColor{
  background-color: #92cce5;
  border: #92cce5;
  font-size: 140%;
  color: black
}

/* .borderUsernameClick{
  background-color: #92cce5;
  border: 2px solid green;
  font-size: 110%;
}

.borderUsernameChange{
  background-color: #92cce5;
  border: 2px solid red;
  font-size: 110%;
} */

/*--------------------- Update du password----------------------------*/
.passwordColor{
  background-color: #92cce5;
  border: #92cce5;
  font-size: 140%;
  color: black
}

/* .borderPasswordClick{
  background-color: #92cce5;
  border: 2px solid green;
  font-size: 110%;
}

.borderPasswordChange{
  background-color: #92cce5;
  border: 2px solid red;
  font-size: 110%;
} */

/*--------------------- Update du confirmPassword---------------------------*/
.passwordConfirmeColor{
  background-color: #92cce5;
  border: #92cce5;
  font-size: 140%;
  color: black
}

/* .borderPasswordConfirmeClick{
  background-color: #92cce5;
  border: 2px solid green;
  font-size: 110%;
}

.borderPasswordConfirmeChange{
  background-color: #92cce5;
  border: 2px solid red;
  font-size: 110%;
} */

/*--------------------- Update du status du cimpte---------------------------*/
.statusColor{
  background-color: #92cce5;
  border: #92cce5;
  font-size: 140%;
  color: black;
  width: 62%;
}

/* .borderPasswordConfirmeClick{
  background-color: #92cce5;
  border: 2px solid green;
  font-size: 110%;
}

.borderPasswordConfirmeChange{
  background-color: #92cce5;
  border: 2px solid red;
  font-size: 110%;
} */


.titredate {
  text-align: center;
  width: 40%;
  margin-top:auto;
  margin-left: auto;
  color:rgb(1, 117, 192);
  font-size: 150%;
}





tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background :rgb(1, 117, 192);
}

tr.example-element-row:not(.example-expanded-row):active {
  background: black;
}

.mat-radio-button {
  margin-right: 2%;
}









