<div class="container">
        <div class="row">
      
           <div class="col-md-6">
      
            <h1 class="form-signin-heading">Profile</h1>
      
            <div class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-3 control-label">ID</label>
                <p class="form-control-static">{{ details?._id }}</p>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">NOM</label>
                <p class="form-control-static">{{ details?.nomEleve }}</p>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">PRENOM</label>
                <p class="form-control-static">{{ details?.prenomEleve }}</p>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">ROLE</label>
                <p class="form-control-static">{{ details?.nomRole }}</p>
              </div>
            </div>
      
          </div>
      
        </div>
      </div>
      