<mat-toolbar class="toolbar">
    <div class="icons">
        <button id="addCollegien" type="button" [routerLink]="['/addCollegien']" mat-icon-button
            (click)="btnAddCollegien()">
            <mat-icon>add</mat-icon>
        </button>

    </div>
</mat-toolbar>

<mat-selection-list>
    <mat-list-item class="liste" *ngFor="let collegien of dataSource" (click)="previousIDcollegien(collegien._id)">
        {{collegien.nomEleve | uppercase}} {{collegien.prenomEleve | titlecase}} {{collegien.classeEleve | uppercase}}
    </mat-list-item>
</mat-selection-list>

