<mat-tree [dataSource]="nestedDataSource" [treeControl]="nestedTreeControl">
    <!-- Mois -->
    <mat-tree-node *matTreeNodeDef="let node" (click)="nodeClick(node)" class="tree-node">
      <li>
        <button mat-icon-button [class.tree-expanded]="node.expanded">
          <mat-icon>notes</mat-icon>
        </button>
      {{node.name}}
      </li>
    </mat-tree-node>
  
    <!-- Année -->
    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasNestedChild">
      <li>
        <div [class.tree-expanded]="node.expanded" (click)="nodeClick(node)">
          <button mat-icon-button>
            <mat-icon>{{node.expanded ? 'expand_more' : 'chevron_right'}}</mat-icon>
          </button>
          {{node.name}}
        </div>
        <ul [class.example-tree-invisible]="!node.expanded">
          <ng-container matTreeNodeOutlet></ng-container>
        </ul>
      </li>
    </mat-nested-tree-node>
  </mat-tree>
  